// .pixels {
//   height: 10px;
//   width: 10px;
// }

.hidden-pixel1 {
  position: absolute;
  top: 5%;
  left: 40%;
  height: 20px;
  width: 20px;
}

.hidden-pixel1:hover {
  background-color: rgb(127, 2, 102);
}

.hidden-pixel2 {
  position: absolute;
  top: 40%;
  left: 5%;
  height: 20px;
  width: 20px;
}

.hidden-pixel2:hover {
  background-color: rgb(127, 2, 102);
}

.hidden-pixel3 {
  position: absolute;
  top: 88%;
  left: 95%;
  height: 20px;
  width: 20px;
}

.hidden-pixel3:hover {
  background-color: rgb(127, 2, 102);
}

.hidden-pixel4 {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 20px;
  width: 20px;
}

.hidden-pixel4:hover {
  background-color: rgb(127, 2, 102);
}

.hidden-pixel5 {
  position: absolute;
  top: 90%;
  left: 5%;
  height: 20px;
  width: 20px;
}

.hidden-pixel5:hover {
  background-color: rgb(127, 2, 102);
}

.hidden-pixel6 {
  position: absolute;
  top: 75%;
  left: 40%;
  height: 20px;
  width: 20px;
}

.hidden-pixel6:hover {
  background-color: rgb(127, 2, 102);
}

.hidden-pixel7 {
  position: absolute;
  top: 65%;
  left: 70%;
  height: 20px;
  width: 20px;
}

.hidden-pixel7:hover {
  background-color: rgb(127, 2, 102);
}

.hidden-pixel8 {
  position: absolute;
  top: 30%;
  left: 65%;
  height: 20px;
  width: 20px;
}

.hidden-pixel8:hover {
  background-color: rgb(127, 2, 102);
}

.hidden-pixel9 {
  position: absolute;
  top: 25%;
  left: 5%;
  height: 20px;
  width: 20px;
}

.hidden-pixel9:hover {
  background-color: rgb(127, 2, 102);
}

.hidden-pixel10 {
  position: absolute;
  top: 65%;
  left: 3%;
  height: 20px;
  width: 20px;
}

.hidden-pixel10:hover {
  background-color: rgb(127, 2, 102);
}