.insult1 p {
  max-width: 30%;
  right: 50%;
  top: 108%;
  position: absolute;
  font-size: small;
  color: black;
}

.insult2 p {
  max-width: 30%;
  color: black;
  left: 50%;
  top: 108%;
  position: absolute;
  font-size: small;
}

// .crystal-display {
//   text-align: center;
//   display: flex;
// }