.main-menu {
  text-align: center;
  display: relative;
}

.rulediv {
  display: relative;
  text-align: center;
  background-color: white;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.ruleOutput p {
  display: absolute;
  left: 50%;
  font-kerning: none;
  color: black;

}

button {
  margin: 1rem;
  padding-left: .5rem;
  padding-right: .5rem;
  background-color: black;
  color: white;
}

button:hover {
  background-color: rgb(226, 43, 43);
}

body {
  background-image: url('./images/white\ tree.png');
  background-size: 50%;
  background-position: -13% 40%;
  background-repeat: no-repeat;
}